#set1 {
    width: 155px;
}
#set2 {
    width: 160px;
}
#set3 {
    width: 165px;
}
#set4 {
    width: 170px;
}
#set5 {
    width: 175px;
}
#set6 {
    width: 180px;
}
#set7 {
    width: 185px;
}
#set8 {
    width: 190px;
}
#set9 {
    width: 195px;
}
#set10 {
    width: 200px;
}
#set11 {
    width: 205px;
}
#set12 {
    width: 210px;
}
#set13 {
    width: 215px;
}
#set14 {
    width: 220px;
}
#set15 {
    width: 225px;
}
#set16 {
    width: 230px;
}
#set17 {
    width: 235px;
}
#set18 {
    width: 240px;
}
#set19 {
    width: 245px;
}
#set20 {
    width: 250px;
}
#set21 {
    width: 255px;
}
#set22 {
    width: 260px;
}
#set23 {
    width: 265px;
}
#set24 {
    width: 270px;
}
#set25 {
    width: 275px;
}
#set26 {
    width: 280px;
}
#set27 {
    width: 285px;
}
#set28 {
    width: 290px;
}
#set29 {
    width: 295px;
}
#set30 {
    width: 300px;
}
#set31 {
    width: 305px;
}
#set32 {
    width: 310px;
}
#set33 {
    width: 315px;
}
#set34 {
    width: 320px;
}
#set35 {
    width: 325px;
}
#set36 {
    width: 330px;
}
#set37 {
    width: 335px;
}
#set38 {
    width: 340px;
}
#set39 {
    width: 345px;
}
#set40 {
    width: 350px;
}
#set41 {
    width: 355px;
}
#set42 {
    width: 360px;
}
#set43 {
    width: 365px;
}
#set44 {
    width: 370px;
}
#set45 {
    width: 375px;
}
#set45 {
    width: 375px;
}
#set46 {
    width: 380px;
}
#set47 {
    width: 385px;
}
#set48 {
    width: 390px;
}
#set49 {
    width: 395px;
}
#set50 {
    width: 400px;
}
#set51 {
    width: 405px;
}
#set52 {
    width: 410px;
}
#set53 {
    width: 415px;
}
#set54 {
    width: 420px;
}
#set55 {
    width: 425px;
}
#set56 {
    width: 430px;
}
#set57 {
    width: 435px;
}
#set58 {
    width: 440px;
}
#set59 {
    width: 445px;
}
#set60 {
    width: 450px;
}
#set61 {
    width: 455px;
}
#set62 {
    width: 460px;
}
#set63 {
    width: 465px;
}
#set64 {
    width: 470px;
}
#set65 {
    width: 475px;
}
#set66 {
    width: 480px;
}
#set67 {
    width: 485px;
}
#set68 {
    width: 490px;
}
#set69 {
    width: 495px;
}
#set70 {
    width: 500px;
}
#set71 {
    width: 505px;
}
#set72 {
    width: 510px;
}
#set73 {
    width: 515px;
}
#set74 {
    width: 520px;
}
#set75 {
    width: 525px;
}
#set76 {
    width: 530px;
}
#set77 {
    width: 535px;
}
#set78 {
    width: 540px;
}
#set79 {
    width: 545px;
}
#set80 {
    width: 550px;
}
#set81 {
    width: 555px;
}

#set82 {
    width: 560px;
}
#set83 {
    width: 565px;
}
#set84 {
    width: 570px;
}
#set85 {
    width: 575px;
}
#set86 { 
    width: 580px;
}
#set87 {
    width: 585px;
}
#set88 {
    width: 590px;
}
#set89 {
    width: 595px;
}
#set90 {
    width: 600px;
}
#set91 {
    width: 605px;
}
#set92 {
    width: 610px;
}
#set93 {
    width: 615px;
}
#set94 {
    width: 620px;
}
#set95 {
    width: 625px;
}
#set96 {
    width: 630px;
}
#set97 {
    width: 635px;
}
#set98 {
    width: 640px;
}
#set99 {
    width: 645px;
}
#set100 {
    width: 650px;
}
#set101 {
    width: 655px;
}
#set102 {
    width: 660px;
}
#set103 {
    width: 665px;
}
#set104 {
    width: 670px;
}
#set105 {
    width: 675px;
}
#set106 {
    width: 680px;
}
#set107 {
    width: 685px;
}
#set108 {
    width: 690px;
}
#set109 {
    width: 695px;
}
#set110 {
    width: 700px;
}
#set111 {
    width: 705px;
}
#set112 {
    width: 710px;
}
#set113 {
    width: 715px;
}
#set114 {
    width: 720px;
}
#set115 {
    width: 725px;
}
#set116 {
    width: 730px;
}
#set117 {
    width: 735px;
}
#set118 {
    width: 740px;
}
#set119 {
    width: 745px;
}
#set120 {
    width: 750px;
}
#set121 {
    width: 755px;
}
#set122 {
    width: 760px;
}
#set123 {
    width: 765px;
}
#set124 {
    width: 770px;
}
#set125 {
    width: 775px;
}
#set126 {
    width: 780px;
}
#set127 {
    width: 785px;
}
#set128 {
    width: 790px;
}
#set129 {
    width: 795px;
}
#set130 {
    width: 800px;
}
#set131 {
    width: 805px;
}
#set132 {
    width: 810px;
}
#set133 {
    width: 815px;
}
#set134 {
    width: 820px;
}
#set135 {
    width: 825px;
}
#set136 {
    width: 830px;
}
#set137 {
    width: 835px;
}
#set138 {
    width: 840px;
}
#set139 {
    width: 845px;
}
#set140 {
    width: 850px;
}
#set141 {
    width: 855px;
}
#set142 {
    width: 860px;
}
#set143 {
    width: 865px;
}
#set144 {
    width: 870px;
}
#set145 {
    width: 875px;
}
#set146 {
    width: 880px;
}
#set147 {
    width: 885px;
}
#set148 {
    width: 890px;
}
#set149 {
    width: 895px;
}
#set150 {
    width: 900px;
}
#set151 {
    width: 905px;
}
#set152 {
    width: 910px;
}
#set153 {
    width: 915px;
}
#set154 {
    width: 920px;
}
#set155 {
    width: 925px;
}


#colorText1 {
    color: 	#CFCFCF;
}
#colorText2 {
    color: #B5B5B5;
}
#colorText3 {
    color: #9C9C9C;
}
#colorText4 {
    color: 	#828282;
}
#colorText5 {
    color: #696969;
}
#colorText6 {
    color: 	#4F4F4F;
}
#colorText7 {
    color: 	#363636;
}
#colorText8 {
    color: 	black;
}